@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";


.avatar{
    border-radius:50%;
    margin-left:10%;
    height:90px;
    width:90px;
    margin-left: auto;
}
