@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";


.avatar{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    margin-top: -20px;
}

.active {
    color: #00a082 !important;
    border-bottom: 3px solid;
}

.Navbar {
    display: flex;
    font-size: 24px;
    font-family: sans-serif;
    color: white;
}

.Navbar__Link {
    padding-right: 12px;
    margin-left:12px;
}

.Navbar__Items {
    display: flex;
}

.Navbar__Items--right {
    margin-left: auto;
}

.Navbar__Link-toggle {
    display: none;
}

@media only screen and (max-width: 768px) {
    .Navbar__Items,
    .Navbar {
        flex-direction: column;
    }

    .Navbar__Items {
        display: none;
    }

    .Navbar__Items--right {
        margin-left: 0;
    }

    .Navbar__ToggleShow {
        display: flex;
    }

    .Navbar__Link-toggle {
        align-self: flex-end;
        display: initial;
        position: absolute;
        cursor: pointer;
    }
}
